# Python virtual environment
.venv*

# Environment variables
.env

# Cursor rules
.cursorrules

# SQLite database
*.db
*.db-journal

# Node.js modules
**/node_modules
**/dist
**/build

# Docker volumes
.postgres
.pgadmin

# Next.js build output
.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
