@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #111827;
  --background-end: #1F2937;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
  color: white;
}